<p id="notice">
    <%= notice %>
</p>
<table>
    <tbody>
        <div class="banner-info">
            <h3>Type and search for guitars </h3>
            <div class="search-form">
                <form action="#" method="post">
                    <input type="text" placeholder="Type and search for Guitars" name="Search...">
                    <input type="submit" value="GO">
                </form>
            </div>
        </div>
        <div class="text-right col-md-6 dom-center">
            <span class="">
              <img src="<%= asset_path( 'cart-icon.jpg' ) %>" height="20" width="20" alt=""/>
              <span class="badge badge-notify my-cart-badge"><%= LineItem.count %></span>
            </span>
        </div>
        <div class="content-top ">
            <div class="container ">
                <div class="spec ">
                    <h3>Guitar List</h3>
                    <div class="ser-t">
                        <b></b>
                        <span><i></i></span>
                        <b class="line"></b>
                    </div>
                </div>
                <div class="tab-head ">
                    <nav class="nav-sidebar">
                        <ul class="nav tabs ">
                            <li class="active"><a href="#tab1" data-toggle="tab">Electric Guitars</a></li>
                            <li class=""><a href="#tab2" data-toggle="tab">Acoustic Guitars</a></li>
                        </ul>
                    </nav>
                    <div class=" tab-content tab-content-t ">
                        <div class="tab-pane active text-style" id="tab1">
                            <div class=" con-w3l">
                                <% @electric.each do |guitar| %>
                                    <div class="col-md-3 m-wthree">
                                        <div class="col-m margin-bottom-30">
                                            <div class="mid-1">
                                                <div class="women">
                                                    <h6><a href="<%= guitar_path(guitar.id) %>"><%= guitar.brand %></a></h6>
                                                </div>
                                                <div class="mid-2">
                                                    <p>Price: <em class="item_price"><%= guitar.price %></em></p>
                                                    <div class="block">
                                                        <div class="starbox small ghosting"></div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="mid-3">
                                                    <div class="starbox small ghosting">
                                                        <%= guitar.description %>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="add">
                                                <%= button_to "Add to cart", line_items_path(guitar_id: guitar), class: "btn btn-danger my-cart-btn my-cart-btn1 " %>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                            </div>
                        </div>
                        <div class="tab-pane  text-style" id="tab2">
                            <div class=" con-w3l">
                                <% @acoustic.each do |guitar| %>
                                    <div class="col-md-3 m-wthree">
                                        <div class="col-m margin-bottom-30">
                                            <div class="mid-1">
                                                <div class="women">
                                                    <h6><a href="<%= guitar_path(guitar.id) %>"><%= guitar.brand %></a></h6>
                                                </div>
                                                <div class="mid-2">
                                                    <p>Price: <em class="item_price"><%= guitar.price %></em></p>
                                                    <div class="block">
                                                        <div class="starbox small ghosting"></div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="mid-3">
                                                    <div class="starbox small ghosting">
                                                        <%= guitar.description %>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="add">
                                                <%= button_to "Add to cart", line_items_path(guitar_id: guitar), class: "btn btn-danger my-cart-btn my-cart-btn1 " %>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tbody>
</table>