<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @guitar.uid %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @guitar.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @guitar.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @guitar.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @guitar.description %>
</p>

<%= link_to 'Edit', edit_guitar_path(@guitar) %> |
<%= link_to 'Back', guitars_path %>
